@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Light"),
    url("./Assets/Font/sf-ui-display-cufonfonts-webfont/sf-ui-display-light-58646b33e0551.woff")
      format("woff");
}

@font-face {
  font-family: "SF UI Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"),
    url("./Assets/Font/sf-ui-display-cufonfonts-webfont/sf-ui-display-medium-58646be638f96.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Semibold"),
    url("./Assets/Font/sf-ui-display-cufonfonts-webfont/sf-ui-display-semibold-58646eddcae92.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"),
    url("./Assets/Font/sf-ui-display-cufonfonts-webfont/sf-ui-display-bold-58646a511e3d9.woff") format("woff");
}
